@mixin flex-center($direction:row){
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:$direction;
}

@mixin flex-between(){
  display:flex;
  justify-content:space-between;
  align-items:center;
}

@mixin ellipsis(){          
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
